.btn-default {
  background-color: var(--purple-400);
  height: 3rem;
  padding: 0 1.5rem;
  border-radius: 3rem;
  border: 0;
  font-size: 0.875rem;
  line-height: 1;
  color: var(--white);
  font-weight: bold;
  transition: filter 0.2s;

  &:not([disabled]):hover {
    filter: brightness(0.8);
  }
}
