.new-post-wrapper {
  margin-top: 1.25rem;
  height: auto;
  padding: 1.25rem;
  border-radius: 0.25rem;
  background-color: var(--white);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);

  display: grid;
  grid-template-rows: auto;
  gap: 0.5rem;
  place-items: center;

  form {
    width: 100%;
    padding: 1.25rem;
    display: grid;
    gap: 1rem;
    border-bottom: 1px solid var(--gray-100);

    @media (min-width: 768px) {
      border-bottom: none;
      border-right: 1px solid var(--gray-100);
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.wrap-preview {
  padding: 1.25rem;
}
.preview {
  width: 23.75rem;
  max-height: 23.75rem;
  border-radius: 0.25rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.preview::after {
  content: "";
  display: block;
  height: 0;
  padding-bottom: 100%;
}
