:root {
  --white: #fff;
  --gray-50: #f7f8fa;
  --gray-100: #e6e8eb;
  --gray-150: #ced4da;
  --gray-200: #afb2b1;
  --gray-500: #808080;
  --gray-800: #494d4b;

  --green-500: #00ff5f;

  --yellow-500: #ffbb11;

  --purple-300: #9f75ff;
  --purple-400: #9164fa;
  --purple-500: #8257e5;
  --purple-800: #6f48c9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 1080px) {
    font-size: 87.5%;
  }
}

body {
  background: var(--gray-50);
  color: var(--gray-800);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
}

body,
input,
textarea,
button {
  font: 500 1rem Inter, sans-serif;
  color: var(--gray-500);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: Lexend, sans-serif;
  color: var(--gray-800);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

img {
  display: block;
  max-width: 100%;
}

/* CLASSES GERAIS */
.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1160px;
  }
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 7px !important;
}
::-webkit-scrollbar-track {
  background: var(--gray-100) !important;
}
::-webkit-scrollbar-thumb {
  background: var(--green-500) !important;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--green-500) !important;
}
