.feed {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.875rem;
  margin-bottom: 0.875rem;
  justify-items: center;

  @media (min-width: 576px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
