.footer {
  background: var(--purple-300);
  padding: 2.5rem 1rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    width: min(3rem, 100%);
    margin: 0.5rem;
  }
}
